<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MoocActorTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MoocActorT">
        <id column="UUID" property="uuid" />
        <result column="actor_name" property="actorName" />
        <result column="actor_img" property="actorImg" />
    </resultMap>

    <select id="getActors" parameterType="java.lang.String" resultType="com.stylefeng.guns.api.film.vo.ActorVO">
        select actor.`actor_name` as directorName,
                actor.`actor_img` as imgAddress,
                rela.`role_name`  as roleName
        from mooc_actor_t actor,mooc_film_actor_t rela
        where actor.`UUID` = rela.`actor_id`
          and rela.`film_id` = #{filmId}
    </select>

</mapper>
